$general-transition-time:  300ms             !default;
$transition-ease:           ease 0s;

$white-color:                #FFFFFF !default;
$black-color:                #2c2c2c !default;

$default-color:              #888888 !default;
$default-states-color:       lighten($default-color, 6%) !default;
$default-color-opacity:      rgba(182, 182, 182, .6) !default;

$primary-color:              #f96332 !default;
$primary-states-color:       lighten($primary-color, 6%) !default;
$primary-color-opacity:      rgba(249, 99, 50, .3) !default;
$primary-color-alert:        rgba(249, 99, 50, .8) !default;

$success-color:              #18ce0f !default;
$success-states-color:       lighten($success-color, 6%) !default;
$success-color-opacity:      rgba(24, 206, 15, .3) !default;
$success-color-alert:        rgba(24, 206, 15, .8) !default;

$info-color:                 #2CA8FF !default;
$info-states-color:          lighten($info-color, 6%) !default;
$info-color-opacity:         rgba(44, 168, 255, .3) !default;
$info-color-alert:           rgba(44, 168, 255, .8) !default;

$warning-color:              #FFB236 !default;
$warning-states-color:       lighten($warning-color, 6%) !default;
$warning-color-opacity:      rgba(255, 178, 54, .3) !default;
$warning-color-alert:        rgba(255, 178, 54, .8) !default;

$danger-color:               #FF3636 !default;
$danger-states-color:        lighten($danger-color, 6%) !default;
$danger-color-opacity:       rgba(255, 54, 54, .3) !default;
$danger-color-alert:         rgba(255, 54, 54, .8) !default;

/*     brand Colors              */
$brand-primary:              $primary-color !default;
$brand-info:                 $info-color !default;
$brand-success:              $success-color !default;
$brand-warning:              $warning-color !default;
$brand-danger:               $danger-color !default;
$brand-inverse:              $black-color !default;